/*temporary outlines*/
/* .sedona-navigation, .welcome__white-block, .welcome__mask, .welcome__text,
.welcome__title, .welcome__intro, .choice-reason__content, .trip-advice,
.hotel-search-form,
.hashtag-visitsedona, .link-htmlacademy, .filter-list__item,
.hotel-filters, .filter__item, .filter-price-btn, .hotel-sorting,
.hotel-item__action, .hotel-item__info, .hotel-item__rating,
.social-links__item {
  outline: 1px solid blue;
}

.hotel-search-form__numbers label, .hotel-search-form__numbers input,
.hotel-search-form__date-in label, .hotel-search-form__date-in input,
.hotel-search-form__date-out label, .hotel-search-form__date-out input,
.hotel-search-form button,
.hotel-item__name, .hotel-item__info,
.filter,
.filter-list__item label, .hotel-sorting__arrows,
.hotel-item_details, .hotel-item_book {
  outline: 1px dashed red;
} */
/*temporary outlines*/

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.hidden {
  display: none;
}

.main-layout {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.welcome__background img, .welcome__text img,
.choice-reason__photo img, .trip-advice__icon img,
.hotel-item__photo img, .map__picture img,
.link-htmlacademy img {
  display: block;
}

/*lists*/
.main-menu, .social-links, .filter-list,
.hotel-sorting__types, .hotel-item__rating-stars {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-search-form input, .hotel-search-form fieldset,
.hotel-search-form button, .hotel-filters fieldset,
.hotel-filters input {
  border: 0;
}


/*_____Menu_____*/
.sedona-navigation {
  position: relative;
  margin: 0;
  padding: 0;
}

.sedona-logo {
  position: absolute;
  left: 530px;
}

.main-menu {
  display: flex;

  font-weight: 700;
}

.main-menu__item {
  width: 239px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  /* background-color: #ffffff; */
}

.main-menu__item:nth-child(2) {
  margin-right: 244px;
}
/*_____Menu_____*/


/*_____Welcome to Sedona_____*/
.welcome {
  background-color: #d7e5ee; /*заглушка на случай незагружаемого фото*/
  background-image: url(../img/welcome-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 -57px;
}

.welcome__text img {
  padding-left: 370px;
  padding-top: 75px;
  padding-bottom: 80px;
}

.welcome__white-block {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;

  background-color: #ffffff;
}

.welcome__white-block::before {
  content: "";
  position: absolute;
  top: -56px;
  width: 1201px;
  height: 59px;
  background-image: url(../img/welcome-mask.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: 1px solid red;
}

.welcome__title {
  width: 445px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
}

.welcome__intro {
  margin: 0;
  padding: 0;
  text-align: center;

  font-weight: 400;
}
/*_____Welcome to Sedona_____*/


/*_____Why choose Sedona_____*/
.sedona-presentation {
}

.choice-reason {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.choice-reason__content {
  display: flex;
  flex-direction: column;
  width: 400px;

  background-color: #eeeeee;
}

.choice-reason__content_blue-theme {
  color: #ffffff;
  background-color: #81b3d2;
}

.choice-reason__name {
  max-width: 152px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.choice-reason__number {
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  line-height: 21px;
}

.choice-reason__text {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  line-height: 21px;
}

.trip-advices {
  display: flex;
}

.trip-advice {
  width: 400px;
}

.trip-advice__icon img {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0;
}

.trip-advice__name {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.trip-advice__text {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 74px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  line-height: 21px;
}
/*_____Why choose Sedona_____*/


/*_____Hotels search form_____*/
.hotel-search-suggestion {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 52px
}

.hotel-search-suggestion h2 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  text-align: center;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-search-suggestion p {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 46px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  line-height: 24px;
}

.hotel-search-title {
  width: 568px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.hotel-search-title:hover {
  background-color: #604e43;
}

.hotel-search-form {
  position: absolute;
  left: 317px;

  display: flex;
  flex-direction: column;
  width: 458px;
  margin: 0 auto;
  padding: 55px 54px;

  font: inherit;

  background-color: #ffffff;
}

.hotel-search-form label {
  font-weight: 700;
}

.hotel-search-form input {
  font-weight: 700;
}

.hotel-search-form__date-in, .hotel-search-form__date-out {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.hotel-search-form__date-in label, .hotel-search-form__date-out label {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.hotel-search-form__date-in input, .hotel-search-form__date-out input {
  width: 334px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  font: inherit;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.hotel-search-form__date-in::before, .hotel-search-form__date-out::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 22px;
  top: 8px;
  right: 8px;

  background-image: url(../img/calendar.svg);
  opacity: 0.4;
}

.hotel-search-form__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.block {
  display: flex;
  margin: 0;
  padding: 0;
}

.hotel-search-form__numbers label {
  margin: 0;
  padding: 0;
}

.hotel-search-form__numbers input {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  text-align: center;

  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
}

.hotel-search-form__numbers button {
  position: relative;

  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  font: inherit;
  font-weight: 700;
  color: #a9a9a9;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* .hotel-search-form__numbers button::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.hotel-search-form__numbers button::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
} */

.hotel-search-form__button {
  display: block;
  /* width: 460px; */
  margin: 0;
  padding: 15px 196px;

  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  cursor: pointer;
}
/*_____Hotels search form_____*/


/*_____Hotels search filters_____*/
.hotel-filters {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 26px;

  font: inherit;
  color: #ffffff;
  background-color: #d7e5ee; /*заглушка на случай незагружаемого фото*/
  background-image: url(../img/filters-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter {
  width: 255px;
  margin: 0;
  padding: 0;
}

.filter__name {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter-list__item {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 40px;

  font-weight: 400;
  line-height: 21px;
}

.filter-list__item label {
  position: relative;

  cursor: pointer;
}

.filter-list__item input {
  display: none;
}

.filter-list__item input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-list__item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*_____Filter "Price" with scale and show button_____*/
.filter-price-btn {
  width: 318px;
  margin-left: auto;
}

.filter-price {
  margin: 0;
  padding: 0;
}

.filter-price__name {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 78px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filters-show-button {
  display: block;
  margin: 0 auto;
  /* margin-left: 85px; */
  margin-bottom: 33px;
  padding: 5px 34px;

  font: inherit;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
/*_____Filter "Price" with scale and show button_____*/
/*_____Hotels search filters_____*/


/*_____Hotels search sorting_____*/
.hotel-sorting {
  position: relative;

  display: flex;
  margin-left: 73px;
  margin-right: 73px;
  padding-top: 32px;
  padding-bottom: 28px;
  align-items: center;
}

.hotel-sorting__total-amount {
  margin: 0;
  margin-right: 48px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.hotel-sorting__title {
  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.hotel-sorting__types {
  display: flex;
}

.hotel-sorting__type {
  margin-right: 30px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.hotel-sorting::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 40px;
  right: 23px;

  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.hotel-sorting::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 40px;
  right: 0px;

  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
/*_____Hotels search sorting_____*/


/*_____Hotels list_____*/
.hotel-search-result {
  border-top: 1px solid #e5e5e5;
}

.hotel-item {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-item__photo {
  margin-top: 29px;
  margin-right: 30px;
  margin-bottom: 28px;
}

.hotel-item__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 29px;
  margin-bottom: 28px;
}

.hotel-item__name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.hotel-item__info {
  display: flex;
  margin-bottom: 15px;
}

.hotel-item__type, .hotel-item__price {
  display: block;
  width: 110px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
}

.hotel-item__type {
  margin-right: 6px;
}

.hotel-item__action {
  display: flex;
}

.hotel-item__action a {
  display: block;
  margin: 0;
  margin-right: 8px;
  padding: 2px 16px;

  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.hotel-item__details {
  background-color: #81b3d2;
}

.hotel-item__book {
  background-color: #766357;
}

.hotel-item__rating {
  display: block;
  align-self: flex-end;
  margin: 0;
  margin-bottom: 29px;
  margin-left: auto;
}

.hotel-item__rating-text {
  margin: 0;
  padding: 0;
  padding: 2px 13px;

  font-weight: 400;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-item__rating-stars {
  display: flex;
  flex-direction: row-reverse;
}

.hotel-item__rating-star {
  width: 18px;
  height: 17px;
  margin-bottom: 48px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotel-item__rating-stars li:not(:last-child) {
  margin-left: 6px;
}

/*_____Hotels list_____*/


/*_____Footer_____*/
.sedona-footer {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.hashtag-visitsedona {
  margin: 0;
  margin-left: 132px;
  margin-right: 258px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.social-links {
  display: flex;
  margin-right: 220px;
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: #81b3d2;
}

.link-htmlacademy {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 98px;
  padding: 0;
}

.link-htmlacademy p {
  margin: 0;
  margin-right: 7px;
  padding: 0;

  font-weight: 400;
}
/*_____Footer_____*/
