/*temporary outlines*/
.sedona-navigation, .welcome__mask, .welcome__text,
.sedona-title, .sedona-intro, .choice-reason__content, .trip-advice,
.hotel-search-form, .hashtag-visitsedona, .link-htmlacademy,
.hotel-filters, .filter__item, .filter-price-btn, .hotel-sorting,
.hotel-item__action, .hotel-item__info, .hotel-item__rating,
.filters-show-button {
  outline: 1px solid blue;
}

.hotel-item, .filter {
  outline: 1px solid red;
}

.sedona-header, main, .sedona-footer {
  outline: 2px solid black;
}
/*temporary outlines*/

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.hidden {
  display: none;
}

.main-layout {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/*bug with paddings*/
.welcome__background img, .welcome__mask img, .welcome__text img,
.choice-reason__photo img, .hotel-item__photo img, .map__picture img {
  vertical-align: middle;
}

/*lists*/
.main-menu, .social-links, .filter__items,
.hotel-sorting__types, .hotel-item__rating-stars {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-search-form fieldset,
.hotel-filters fieldset {
  border: none;
}


/*_____Menu_____*/
.sedona-navigation {
position: relative;
}

.sedona-logo {
  position: absolute;
  left: 530px;
}

.main-menu {
  position: relative;
  display: flex;
  justify-content: space-around;

  font-weight: 700;
}
/*_____Menu_____*/


/*_____Welcome to Sedona_____*/
.welcome__background {
  position: relative;
}

.welcome__mask {
  position: absolute;
  top: 509px;
}

.welcome__text {
  position: absolute;
  top: 77px;
  left: 450px;
}
/*_____Welcome to Sedona_____*/


/*_____Why choose Sedona_____*/
.sedona-title {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
}

.sedona-intro {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  font-weight: 400;
}

.choice-reason {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice-reason__name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.choice-reason__number, .choice-reason__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
}

.trip-advices {
  display: flex;
}

.trip-advice__name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.trip-advice__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
}
/*_____Why choose Sedona_____*/


/*_____Hotels search form_____*/
.hotel-search-suggestion h2 {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-search-suggestion p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  font-weight: 400;
  line-height: 24px;
}

.hotel-search-title {
  display: block;
  margin: 0;
  padding: 0;
  width: 576px;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.hotel-search-form {
  width: 576px;

  font: inherit;
}

.hotel-search-form__dates, .hotel-search-form__numbers {
  margin: 0;
  padding: 0;
}

.hotel-search-form label {
  font-weight: 700;
}

.hotel-search-form input {
  font-weight: 700;
}

.hotel-search-form__button {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}
/*_____Hotels search form_____*/


/*_____Hotels search filters_____*/
.hotel-filters {
  display: flex;

  font: inherit;
}

.filter {
  margin: 0;
  padding: 0;
}

.filter__name {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter__item {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
}

.filters-show-button {
  font: inherit;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
/*_____Hotels search filters_____*/


/*_____Hotels search sorting_____*/
.hotel-sorting {
  display: flex;
}

.hotel-sorting__numb-of-found {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.hotel-sorting__title {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.hotel-sorting__types {
  display: flex;
}

.hotel-sorting__type {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
/*_____Hotels search sorting_____*/


/*_____Hotels list_____*/
.hotel-item {
  display: flex;
}

.hotel-item__main {
  display: flex;
  flex-direction: column;
}

.hotel-item__info, .hotel-item__action {
  display: flex;
}

.hotel-item__name {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.hotel-item__type, .hotel-item__price {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
}

.hotel-item_details {
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 21px;
}

.hotel-item_book {
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 21px;
}

.hotel-item__rating {
  align-self: flex-end;
}

.hotel-item__rating-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 21px;
  color: #666666;
}
/*_____Hotels list_____*/


/*_____Footer_____*/
.sedona-footer {
  display: flex;
  justify-content: space-between;
}

.hashtag-visitsedona {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
}

.link-htmlacademy {
  margin: 0;
  padding: 0;

  font-weight: 400;
}
/*_____Footer_____*/
